node_modules/
.serverless/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.DS_Store
Thumbs.db
projeto_ia_av3/deploy/node_modules/
projeto_ia_av3/deploy/.serverless/
codigo-fonte-web/node_modules/
codigo-fonte-web/dist/
projeto_ia_av3/.DS_Store
projeto_ia_av3/slides/~$APRESENTACAO_AV3.pptx
app-eletrolizador_accessKeys.csv
app-eletrolizador_credentials.csv
